.popup_form label { display: block; float: left; width: 130px; }
.popup_form input[type="text"] {
    padding: 4px 8px;
    background: #f0f0f0;
    border: 1px solid #ccc;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.90);
	z-index:9999;
}

.popup img {
    display: block;
    height: auto;
    margin: 0 auto 80px;
    max-width: 300px;
    width: 100%;
}

/* Inner */
.popup-inner {
    align-items: center;
    background: #4572BE;
    border: 10px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    min-height: 75vh;
    min-width: 75vw;
    padding: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

.popup-inner h1{
    font-size: 80px !important;
    line-height: 1.25;
    margin: 0 0 35px;
    text-align: center;
}

.popup-inner .information-text {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 20px;
    text-align: center;
}

.popup-inner .disclaimer-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    margin: 40px 0 0;
    text-align: center;
}

@media (max-width: 1200px) {
    .popup img {
        margin: 0 auto 50px;
        max-width: 250px;
    }
    .popup-inner h1 {
        font-size: 50px !important;
    }
    .popup-inner .information-text {
        font-size: 25px;
    }
}

@media (max-width: 1024px) {
    .popup-inner .information-text {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .popup-inner {
        min-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        padding: 30px;
    }
    .popup img {
        margin: 0 auto 30px;
        max-width: 200px;
    }
    .popup-inner h1 {
        font-size: 30px !important;
        margin: 0 0 20px;
    }
    .popup-inner .information-text {
        font-size: 18px;
        margin: 0;
    }
    #pincode_login_form {
        padding-top: 0;
    }
    .popup-inner .disclaimer-text {
        margin: 10px 0 0;
    }
}

@media (max-width: 480px) {
    .popup-inner {
        border: 5px solid #fff;
        border-radius: 0;
        min-height: 0;
    }
    #pincode_login_form .pincode-box {
        flex: 1;
        width: auto;
    }
}

#pincode_login_form {
	padding-top: 15px;
}

#pincode_login_form label{
}

#login-error-window {
	display: none;
	color: #fff;
	margin-top: 5px;
    max-width: 467px;
    margin-left: auto;
    margin-right: auto;
}
.success-window {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error-window{
    color: #D8000C;
    background-color: #FFBABA;
            
}
.pincode-box {
	width: 400px;
	margin-bottom: 10px;
	color: #303133;
}
.btn-access {	
	background: #fff;
	color: #303133;
	border: none;
	border-color: #fff;
	margin-top: 10px !important;
}
.overflow-hidden{
	overflow: hidden !important;
}

.popup-inline{
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.popup-inline .btn{
    padding: 10px 13px 12px !important;
    margin: 10px;
    line-height: 100%;
    font-size: 18px;
    min-height: 41px;
}

@media (max-width:569px){
    .popup-inline .btn {
        transform: scale(1) !important;
    }

}

.popup-text-wrapper{
    display: flex;
}
.popup-text {
    width: 463px;
    display: block;
    margin: 0 auto;
    line-height: normal;
    font-size: 16px;
}